rendercv_output
markdown
classic
.venv
.old
*prova*
*test*
*.bak
.vscode
.git-filter*

*.yaml
job-postings/*
!job-postings/.gitkeep
personal-experience/*
!personal-experience/.gitkeep
rendercv_output/*
!rendercv_output/.gitkeep
extra

!Carmone.yaml